<div class="card">
    <p-tabView>
        <p-tabPanel header="Запасы">
            <p-table
                [value]="products"
                [paginator]="true"
                [rows]="10"
                [tableStyle]="{ 'min-width': '90rem'}"
                [rowsPerPageOptions]="[10, 15, 50]" [style]="{'margin' : '2%', 'border' : '1px solid #e2e8f0', 'padding' : '1%', 'border-radius' : '15px'}"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">Название товара</th>
                        <th style="width:20%">Описание</th>
                        <th style="width:20%">Цена</th>
                        <th style="width:20%">На складе</th>
                        <th style="width:20%">QR</th>
                        <th style="width:20%">Поставщик</th>
                        <th style="width:20%">Зарегистрировал</th>
                        <th style="width:20%">Дата регистрации товара</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.cost }}</td>
                        <td>{{ product.count }}</td>
                        <td><img src="data:image/bmp;base64,{{ product.qrCode }}"
                            [style]="{'width':'50px', 'height':'50px'}"/></td>
                        <td>{{ product.provider.company }}</td>
                        <td>{{ product.staffer.lastName }} {{ product.staffer.firstName }} {{ product.staffer.middleName }}</td>
                        <td>{{ product.entrance.acceptDate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Поступление">
            <div class="button-container" style="margin: 1rem 2rem 0 2rem">
                <button pButton (click)="visible = true" label="Добавить" class="p-button-primary"></button>
            </div>
            <app-add-product-form [visible]="visible" (visibleChange)="visible = $event" (closeForm)="onProductAdded()"></app-add-product-form>
            <p-table
                [value]="entrances"
                [paginator]="true"
                [rows]="10"
                [tableStyle]="{ 'min-width': '90rem'}"
                [rowsPerPageOptions]="[10, 15, 50]" [style]="{'margin' : '2%', 'border' : '1px solid #e2e8f0', 'padding' : '1%', 'border-radius' : '15px'}"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">Название</th>
                        <th style="width:20%">Описание</th>
                        <th style="width:20%">Цена</th>
                        <th style="width:20%">На складе</th>
                        <th style="width:20%">Принято</th>
                        <th style="width:20%">Дата поставки</th>
                        <th style="width:20%">QR</th>
                        <th style="width:20%">Поставщик</th>
                        <th style="width:20%">Ответственный</th>
                        <th style="width:20%">Статус</th>
                        <th style="width:20%">Дата подтверждения поступления</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-entrance>
                    <tr>
                        <td>{{ entrance.product.name }}</td>
                        <td>{{ entrance.product.description }}</td>
                        <td>{{ entrance.product.cost }}</td>
                        <td>{{ entrance.product.count }}</td>
                        <td>{{ entrance.quantity }}</td>
                        <td>{{ entrance.entranceDate }}</td>
                        <td><img src="data:image/bmp;base64,{{ entrance.product.qrCode }}"
                             [style]="{'width':'50px', 'height':'50px'}"/></td>
                        <td>{{ entrance.product.provider.fullName }}</td>
                        <td>{{ entrance.staffer.firstName }}</td>
                        <td *ngIf="!entrance.status"> Не подтвержден</td>
                        <td *ngIf="entrance.status"> Подтвержден</td>
                        <td *ngIf="checkDate(entrance.acceptDate)"></td>
                        <td *ngIf="!checkDate(entrance.acceptDate)">{{ entrance.acceptDate }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Отгрузка">
            <p-table
                [value]="shipment"
                [paginator]="true"
                [rows]="10"
                [tableStyle]="{ 'min-width': '90rem'}"
                [rowsPerPageOptions]="[10, 15, 50]" [style]="{'margin' : '2%', 'border' : '1px solid #e2e8f0', 'padding' : '1%', 'border-radius' : '15px'}"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">Название товара</th>
                        <th style="width:20%">Описание</th>
                        <th style="width:20%">Цена</th>
                        <th style="width:20%">На складе</th>
                        <th style="width:20%">Отгружено</th>
                        <th style="width:20%">Дата отгрузки</th>
                        <th style="width:20%">QR</th>
                        <th style="width:20%">Поставщик</th>
                        <th style="width:20%">Ответственный</th>
                        <th style="width:20%">Статус</th>
                        <th style="width:20%">Дата подтверждения отгрузки</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-el>
                    <tr>
                        <td>{{ el.product.name }}</td>
                        <td>{{ el.product.description }}</td>
                        <td>{{ el.product.cost }}</td>
                        <td>{{ el.product.count }}</td>
                        <td>{{ el.quantity }}</td>
                        <td>{{ el.shipmentDate }}</td>
                        <td><img src="data:image/bmp;base64,{{ el.product.qrCode }}"
                             [style]="{'width':'50px', 'height':'50px'}"/></td>
                        <td>{{ el.product.provider.fullName }}</td>
                        <td>{{ el.staffer.firstName }}</td>
                        <td *ngIf="!el.status"> Не подтвержден</td>
                        <td *ngIf="el.status"> Подтвержден</td>
                        <td *ngIf="checkDate(el.acceptDate)"></td>
                        <td *ngIf="!checkDate(el.acceptDate)">{{ el.acceptDate }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</div>
