<table *ngIf="!confirm" class="signin-container">
    <td class="signin-block">
        <p-floatLabel>
            <input id="login" type="text" pInputText (keyup)="onKeyLogin($event)"/>
            <label for="login">Логин</label>
        </p-floatLabel>
    </td>
    <td class="signin-block">
        <div class="errorAllert" *ngIf="showError">
            {{errorMessage}}
        </div>
        <div class="card flex justify-content-center">
            <p-button label="Войти" [style]="{'width' : '100%'}" (onClick)="getCode()"/>
        </div>
    </td>
</table>

<div *ngIf="confirm" class="card flex justify-content-center signin-container" [style]="{'align-items': 'center'}">
    <p-inputOtp [(ngModel)]="resetCode" [integerOnly]="true" [length]="6" [style]="{'margin': '5%'}"/>
    <div class="flex justify-content-between mt-5 align-self-stretch">
        <p-button label="Подтвердить" (onClick)="confirmCode()"/>
    </div>
</div>