<div >
    <table class="w-container">
        @for (warehouse of warehouses; track warehouse.id) {
        <tr>
            <div class=" flex justify-content-center warehouse-container" (click)="click()" >
                <p-card header={{warehouse.name}} subheader={{warehouse.purpose}} class="warehouse-card">
    
                    <div class="card-info">
                        <p><strong>Адрес:</strong> {{ warehouse.address }}</p>
                        <p><strong>Площадь:</strong> {{ warehouse.square }} м<sup>2</sup></p>
                        <p><strong>Количество сотрудников:</strong> {{ warehouse.countEmployees }}</p>
                        <p><strong>Количество техники:</strong> {{ warehouse.countTechnic }}</p>
                        <p><strong>Вместимость:</strong> {{ warehouse.capacity }} м<sup>2</sup></p>
                        <p><strong>Загруженность:</strong> {{ warehouse.occupancy }} м<sup>2</sup></p>
                      </div>
                    <ng-template pTemplate="footer">
                        <div class="card">
                            <p-progressBar [value]="getOccupancyRate(warehouse)" />
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </tr>
    }
    </table>
</div>
<!-- <div *ngIf="transition">
    <router-outlet></router-outlet>
</div> -->