.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20% 40%;
}

.signin-block {
    margin-bottom: 2rem;
    width: 6rem;
}

.forgot-pass-button {
    display: contents;
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    font: inherit;
  }
  
  .forgot-pass-button:hover {
    text-decoration: none;
    color: #0056b3;
  }
  