<table class="signin-container">
    <td class="signin-block">
        <p-floatLabel>
            <input id="password" type="password" pInputText (keyup)="onKeyNewPass($event)" />
            <label for="password">Новый пароль</label>
        </p-floatLabel>
    </td>
    <td class="signin-block">
        <div class="errorAllert" *ngIf="showError">
            {{errorMessage}}
        </div>
        <div class="card flex justify-content-center">
            <p-button label="Войти" [style]="{'width' : '100%'}" (onClick)="changePass()"/>
        </div>
    </td>
</table>