<div class="chat-container">
    <div class="dialogs-container">
        <div class="form-buttons">
            <button (click)="openUserForm()" class="open-button"><mat-icon>person_add_alt_1</mat-icon></button>
            <app-add-chat-form *ngIf="showUserForm" (closeForm)="closeUserForm()"></app-add-chat-form>
            <button (click)="openGroupForm()" class="open-button"><mat-icon >group_add</mat-icon></button>
            <app-add-group-form *ngIf="isGroupForm" (closeForm)="closeGroupForm()"></app-add-group-form>
            
        </div>
        <app-notification *ngIf="showNotification" (close)="close()" [notification]="notification" [isShow]="showNotification"></app-notification>
        
        <div class="dialogs-panel">
            <div *ngFor="let dialog of dialogs">
                <button *ngIf="dialog.isGroup === false" class="dialog-button"
                    (click)="onKeyChat(dialog.id, dialog.name, dialog.avatar, dialog.countUnreadMessages)">
                    <div>
                        <div class="dialog-name-container">
                            <p class="dialog-name">{{ dialog.name }}<span *ngIf="onlineMarkers.includes(dialog.id)" class="online-dot"></span></p>
                            <p *ngIf="dialog.countUnreadMessages !== 0" class="unread-badge">{{ dialog.countUnreadMessages }}</p>
                        </div>
                        <app-last-message [personLogin]="person.login" [lastMessage]="getLastMessage(dialog.lastMessage, dialog.isCheck, dialog.sentAt, dialog.senderLogin)"/>
                    </div>
                </button>
                <button *ngIf="dialog.isGroup === true" class="dialog-button"
                    (click)="onKeyGroup(dialog.id , dialog.name, dialog.countMembers, dialog.creatorLogin, dialog.countUnreadMessages)">
                    <div>
                        <div class="dialog-name-container">
                            <p class="dialog-name">{{ dialog.name }}</p>
                            <p *ngIf="dialog.countUnreadMessages !== 0" class="unread-badge">{{ dialog.countUnreadMessages }}</p>
                        </div>
                        <app-last-message [personLogin]="person.login" [lastMessage]="getLastMessage(dialog.lastMessage, dialog.isCheck, dialog.sentAt, dialog.senderLogin)"/>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
