
<!-- <mat-nav-list>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> FAVORITES </mat-panel-title>
    </mat-expansion-panel-header>
    <app-sidebar-item icon="dashboard" label="Dashboard"></app-sidebar-item>
    <app-sidebar-item icon="bookmark" label="Bookmarks"></app-sidebar-item>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Reports </mat-panel-title>
      </mat-expansion-panel-header>
      <app-sidebar-item icon="show_chart" label="Revenue"></app-sidebar-item>
      <app-sidebar-item icon="bar_chart" label="Expenses"></app-sidebar-item>
    </mat-expansion-panel>
    <app-sidebar-item icon="group" label="Team"></app-sidebar-item>
    <app-sidebar-item
      icon="message"
      label="Messages"
      badge="3"
    ></app-sidebar-item>
    <app-sidebar-item icon="event" label="Calendar"></app-sidebar-item>
    <app-sidebar-item icon="settings" label="Settings"></app-sidebar-item>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> APPLICATION </mat-panel-title>
    </mat-expansion-panel-header>
    <app-sidebar-item icon="folder" label="Projects"></app-sidebar-item>
    <app-sidebar-item icon="assessment" label="Performance"></app-sidebar-item>
    <app-sidebar-item icon="settings" label="Settings"></app-sidebar-item>
  </mat-expansion-panel>
</mat-nav-list> -->
<table class="sidebar-container">
  <td class="sidebar-item">
    <p-button label="Главная" [text]="true" [raised]="true" [style]="{'width' : '100%'}" (onClick)="redirectToDashboard()"/>
  </td>
  <td class="sidebar-item">
    <p-button label="Склады" [text]="true" [raised]="true" [style]="{'width' : '100%'}" (onClick)="redirectToWarehouses()"/>
  </td>
  <td class="sidebar-item">
    <p-button label="Сотрудники" [text]="true" [raised]="true" [style]="{'width' : '100%'}" (onClick)="redirectToCustomers()"/>
  </td>
  <td class="sidebar-item">
    <p-button label="Поставщики" [text]="true" [raised]="true" [style]="{'width' : '100%'}" (onClick)="redirectToSupplers()"/>
  </td>
  <td class="sidebar-item">
    <p-button label="Сообщения" [text]="true" [raised]="true" [style]="{'width' : '100%'}" (onClick)="redirectToDialogs()"/>
  </td>
  <td class="sidebar-item">
    <p-button label="Настройки" [text]="true" [raised]="true" [style]="{'width' : '100%'}" (onClick)="redirectToSettings()" />
  </td>
</table>
