<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->
<table class="layout-container">
    <tr class="sidebar-container">
        <div class="person-container">
            <img src="data:image/jpeg;base64,{{person.avatar}}" 
            class="mr-2 person-avatar"  
            size="large" (click)="true"/>
            <span *ngIf="onlineMarkers.includes(person.id)" class="dot"></span>
                <div class="data-container">
                <span> {{person.lastName}} {{person.firstName}} {{person.middleName}}</span>
            <span>{{person.login}}</span>
            </div>
        </div>
        <app-sidebar/>
    </tr>
    <tr class="children-container">
        <router-outlet></router-outlet>
    </tr>
</table>