<p-sidebar [(visible)]="visible" [style]="{ width: '45rem' }" [closeOnEscape]="true" showCloseIcon="false">
    <span class="form-description">Добавление поставщика.</span>

    <div class="input-container">
        <label for="firsName" >Имя</label>
        <input pInputText id="firsName" autocomplete="off" />
        <label for="lastName" >Фамилия</label>
        <input pInputText id="lastName" autocomplete="off" />
    </div>
    <div class="input-container">
        <label for="middleName">Отчество</label>
        <input pInputText id="middleName"  autocomplete="off" />
        <label for="company">Компания</label>
        <input pInputText id="company"  autocomplete="off" />
    </div>
    <div class="input-container">
        <label for="phone">Телефон</label>
        <input pInputText id="phone"  autocomplete="off" />
        <label for="email">Email</label>
        <input pInputText id="email"  autocomplete="off" />
    </div>
    <div class="buttons-container">
        <p-button label="Cancel" severity="secondary" class="p-element" (click)="close()" />
        <p-button label="Save" class="p-element"  (click)="visible = false" />
    </div>
</p-sidebar>